/*color of blue background lines: rgba 0,174,237, 0.678*/

* {
    /*color: rgba(0, 174, 237, 0.678);*/
    font-family: monospace;
}

/* Set background image */
body, html {
    height: 100%;
    background-image: url("../images/fp-dots.png"); /* Adjust the path as needed */
    background-size: cover; /* Ensures the image covers the entire background */
    background-color: black; 
}

.login-container {
    font: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-content {
    text-align: center;
}

/* Add your other styles here */

/* Style input fields */
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style labels */
.form-group label {
    display: block;
    font-weight: bold;
}

/* Style the login button */
button[type="submit"] {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Style the login button on hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}

.text-primary {
    color: rgba(0, 174, 237, 0.678);
}

/*Dashobard stuff*/
.table.table-striped tbody tr {
    color: white;
}

th {
  color: white;
}

html {
    background-image: url("../images/fp-dots.png");
    background-color: black;
    /* Other background properties like size, position, repeat, etc. can be added here */
    height: 100%;
    color: white;
}

body {
    background: transparent; /* Set the body background to transparent */
    height: 100%;
    color: white;
}

/* For the table */
/* Add some basic styles to the container */
.container {
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the table header */
#data-table th {
    background-color: rgba(0, 174, 237, 0.678);
    color: white;
}

/* Style alternating rows */
#data-table tbody tr:nth-child(even) {
    background-color: rgb(62, 62, 62);
}

/* Add some padding and space to table cells */
#data-table td, #data-table th {
    padding: 10px;
    text-align: left;
}



