chardet==4.0.0
maskpass==0.3.7
numpy==1.21.5
paramiko==2.8.1
plyer==2.1.0
psutil==5.9.2
pyshorteners==1.0.1
PySide6==6.5.0
PyYAML==6.0
requests==2.27.1
scapy==2.4.4
speedtest==0.0.1
speedtest_cli==2.1.3
