{% extends "base.html" %}

{% block content %}
<!doctype html>
<html lang="en">
<!-- Header -->

<head>
    <title>My First Bootstrap Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Stylesheet for plugin -->
    <!-- <link href="static/css/filehost-layout-light.css" rel="stylesheet"> -->
    <link id = "stylesheet" href="static/css/filehost-layout-dark.css" rel="stylesheet">

    <!-- reference stylesheet -->
    <!-- <link href="static/css/filehost-layout-light.css" rel="stylesheet"> -->

</head>

<body>


    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <div class = "header">
    <h1>

        <center>
            FileHost Plugin
        </center>
    </h1>

    <p class="uploadbutton">
        <form action="filehost/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
        <button type="submit" style="background-color: gray;">Upload</button>
        
    </p>

    </div>
    <!-- Hosted Files Table Container -->
    <div class="filesblock">
        <h2>Hosted Files</h2>
        <table id="data-table", class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Contents (first 40 bytes)</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.contents }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="nodesblock">
        <h2>Node Logs</h2>
            <table id="data-table", class="table">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Time</th>
    
                    </tr>
                </thead>
                {% for node in nodedata %}

                <tbody>
                    <tr>
                        <td> {{node.ip}} </td>
                        <td> {{node.name}} </td>
                        <td> {{node.message}} </td>
                        <td> {{node.timestamp}} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>   
        <!-- <p>192.168.0.10 - Up - Synced Successful at 17:00.25</p> -->


    </div>



    <div class="logblock">
        <h2>File Access Logs</h2>
        <table id="data-table", class="table">
            <thead>
                <tr>
                    <th>Accessor IP</th>
                    <th>FileName</th>
                    <th>Node Name</th>
                    <th>Time</th>
                    <th>HTTP Code</th>

                </tr>
            </thead>
            {% for filelog in filelogdata %}

            <tbody>
                <tr>
                    <td> {{filelog.file_accessor_ip}} </td>
                    <td> {{filelog.filename}} </td>
                    <td> {{filelog.node_name}} </td>
                    <td> {{filelog.timestamp}} </td>
                    <td> 200 | 500 | 404 </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>      
        
        <!-- <p>172.0.0.1 -- file.txt -- TIME:DATE</p> -->



    </div>



    <!-- Footer -->
    <footer style="color: red", class = "footer">
        <center>README! This PLUGIN IS IN DEVELOPMENT. THERE IS NO GUARANTEE THAT THIS IS SECURE. USE AT YOUR OWN RISK</center>
    
        <button onclick="setStylesheet('../static/css/filehost-layout-dark.css')">Dark</button>
        <button onclick="setStylesheet('../static/css/filehost-layout-light.css')">Light</button>
        <button onclick="setStylesheet('../static/css/filehost-layout-cyberpunk.css')">2077</button>

        <script>
            // Function to set the active stylesheet
            function setStylesheet(stylesheetName) {
                const stylesheet = document.getElementById("stylesheet");
                stylesheet.setAttribute("href", stylesheetName);
            }
        </script>
    
    
    </footer>
</body>

</html>

{% endblock %}
