<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run Command</title>
</head>
<body>
    <h1>Run a Command -- NOT SECURE. DO NOT EXPOSE TO INTERNET</h1>
    <form method="post">
        <label for="command">Enter a command:</label>
        <input type="text" id="command" name="command" required>
        <button type="submit">Run Command</button>
    </form>
    {% if output %}
    <h2>Command Output:</h2>
    <pre>
        {% for line in output.split('\n') %}
            {% if "->" in line %}
                <span style="color: green;">{{ line }}</span><br>
            {% elif "Error" in line %}
                <span style="color: red;">{{ line }}</span><br>
            {% elif "[*]" in line %}
                <span style="color: blue;">{{ line }}</span><br>
            {% else %}
                <span style="color: black;">{{ line }}</span><br>
            {% endif %}
        {% endfor %}
    </pre>
    {% endif %}
</body>
</html>