/* Created by me... then revised by chatGPT to look somewhat modern */

:root {
  --basecolor: #4ae0e8;
  --dark-bg: #0d0d0d; /* Dark background */
  --medium-bg: #1e1e1e; /* Slightly lighter background */
  --light-bg: #2e2e2e; /* Even lighter background */
  --text-color: #4ae0e8; /* White text */
  --header-bg: #171717; /* Header background */
  --footer-bg: #171717; /* Footer background */
}

/* Reset some default styles for consistency */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

/* Define grid areas */
.header { grid-area: header; }
.notifications { grid-area: notifications; }
.inframap { grid-area: inframap; }
.loadedplugins { grid-area: loadedplugins; }
.footer { grid-area: footer; }
.navbar { grid-area: navbar; }

/* Define the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header header'
    'inframap inframap inframap inframap inframap inframap'
    'notifications notifications notifications loadedplugins loadedplugins loadedplugins'
    'notifications notifications notifications loadedplugins loadedplugins loadedplugins'
    'footer footer footer footer footer footer';
  gap: 20px;
  /*background-color: #f9f9f9;*/ /* Light background color */
  background-color: #0000006f;
  padding: 20px;
  margin-left: 150px;
  height: 100vh;
}

/* Style for the grid items */
.grid-container > div {
  background-color: #1e1e1e; /* Dark gray background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* CyberPunk-style shadow */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: var(--basecolor);
}

/* Define specific styles for the footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #333; /* Dark footer background */
  color: #fff; /* Text color */
  padding: 10px;
}

/* Flexbox container styles */
.inframap, .notifications, .loadedplugins {
  min-height: 200px;
  background-color: var(--accent-color); /* Light gray background */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  overflow: auto; /* Add overflow property for scrollbar */
  

}

.header {
  min-height: 50px;
}

/* Headers on each box */
.inframap > *,  .notifications > *, .loadedplugins > * {
  background-color: var(--accent-color); /* Light gray background */
  padding: 10px;
  text-align: left;
  /* text Color */
  color: rgb(255, 255, 255);
  background-color: #2e2e2e;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  background-color: #1e1e1e; /* Dark gray background for tables */
}

/* Style for table headers */
th {
  background-color: #2e2e2e; /* Slightly darker gray background for headers */
  color: var(--basecolor);  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #333; /* Add a bottom border for separation */
}

/* Style for table rows */
tr {
  background-color: #1e1e1e; /* Dark gray background for rows */
}

/* Style for alternating rows */
tr:nth-child(even) {
  background-color: #2e2e2e; /* Slightly lighter gray background for even rows */
}

/* Style for table cells */
td, th {
  padding: 10px;
  text-align: left;
  /*color: #00ff00; /* Neon green text color for cells */
  color: var(--basecolor);
  border-bottom: 2px solid #333; /* Add a bottom border for separation */
}


